.bg-violet{
    height: 20px;
    width: 100%;
    background: darkorchid;
}
.header {
    display: flex;
    height: 60px;
    width: 750px;

    margin-left: 50px;
}

.container1{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;

}
.container3 {

}



.container2{
    height: 60px;
    width: 100%;
    display: flex;
    background: lightgrey;


}



