.contenair {
    display: flex;
    justify-content: space-evenly;
}

.couleur {
    height: 20px;
    width: 100%;
    background-color: darkorchid;
}

.cat {
    color: darkorchid;
    font-size: 15px;
    font-weight: bold;
}

.mot {
    text-align: center;
    color: darkorchid;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 25px;
    padding-top: 40px;
}

.box {
    height: 200px;
    width: 400px;
}

.fond {
    background-color: #eeeeee;
    height: 900px;
}

.cat {
    padding-top: 35px;
}

.sbox {
    background-color: white;
    height: 250px;
    width: 400px;
    padding-bottom;
    text-align: center;
}

#spe {
    height: 100px;
    width: 100px;
}

.tete {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.image {
    margin-left: 600px;
    padding-top: 5px;
}

.couleur {
    border-bottom-color: fuchsia;
}

.dash {
    text-align: right;
    margin-right: 20px;
}

.top {
    margin-left: 20px;
    color: white;
    padding-bottom: 50px;
}
.haut{
    align-items: baseline;


}